{% extends 'all-news/base.html'%}
{% load bootstrap4 %}

{% block content %}
    {{block.super}}
    
    <div class="container">
        <hr>
        {% for news_item in news %}
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img src="{{news_item.article_image.url}}" class="img-responsive" alt="" height="300" width="450">
                    <h3 class="text-center">{{news_item.title}}</h3>
                    
                    <p class="text-left"><i>Written by: {{news_item.editor__first_name}}</i></p>
                    <p style="text-indent: 30px;">{{news_item.post}}</p>
                    <hr>
                </div>
               
            </div>
        {% empty %}
            <div class="row">
                <h3 class="text-center">There Are No News Items</h3>
            </div>
        {% endfor %}
        <h3 class="text-center">Subscribe</h3>
        <hr>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="{% url 'newsToday' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form letterform layout='inline' %}
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>
{% endblock %}